<div class="container">
  <div class="row text-center">
    <div class="offset-2 col- column-color">
	  <div class="card" style="width: 18rem;">
		<div class="card-body">
			<div class="card" style="width: 16rem;">
				<div class="card-body">
					<img class="mb-4" src="assets//images/pig.jpg" alt="" width="200" height="200"/>
					<div class="row">
						<div class="col-sm">
							<div class="row">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><div class="text-nowrap" style="width: 8rem;">Power</div></div>
								</div>	
							</div>
							<div class="row">
								<div class="progress">
									<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><div class="text-nowrap" style="width: 8rem;">Mana</div></div>
								</div>	
							</div>
						</div>
						<div class="col-sm">
						BAO BOI CC
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="row">
						<button type="button" class="btn btn-warning btn-block">Gold</button>
					</div>
				</div>
				<div class="col-sm">
					<div class="row">
						<button type="button" class="btn btn-danger btn-block">Fight</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="row">
						<button type="button" class="btn btn-primary btn-block">School</button>
					</div>
				</div>
				<div class="col-sm">
					<div class="row">
						<button type="button" class="btn btn-success btn-block">Gym</button>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="button" class="btn btn-dark btn-block">Shop</button>
			</div>
		</div>
	   </div>
	   
	   
	   
    </div>
    <div class="col-5 column-color">
	  <div class="card" style="width: 28rem;">
		<div class="card-header">
			Battle Logs
		</div>	
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Vestibulum at eros</li>
			<li class="list-group-item">Vestibulum at eros</li>
			<li class="list-group-item">Vestibulum at eros</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	  </div>
    </div>
	<a href="/logout" class="btn btn-primary">Log out</a>
  </div>
</div>


















<!--


<a href="/logout" class="btn btn-primary">Log out</a>

<p> Power: {{add user.inherent_power user.bonus_power}} </p>
<p> Stamina: {{user.stamina}}/150 </p>
<p> Stamina Regen: {{user.stamina_regen}} </p>
<p> Gold: {{user.gold}} </p>
<p> Ultimate power: {{user.empowered}} </p>

<form action="/fight" method="post">
  <button type="submit" class="btn btn-primary">Fight!</button>
</form>
-->