<p> You are currently logged in as {{user.username}} </p>
<a href="/logout" class="btn btn-primary">Log out</a>

<p> Power: {{add user.inherent_power user.bonus_power}} </p>
<p> Stamina: {{user.stamina}}/150 </p>
<p> Stamina Regen: {{user.stamina_regen}} </p>
<p> Gold: {{user.gold}} </p>
<p> Ultimate power: {{user.empowered}} </p>

<form action="/fight" method="post">
  <button type="submit" class="btn btn-primary">Fight!</button>
</form>