<div class="container">
  <div id="battle-log" class="row text-center">
    <div class="col-3 column-color">
		  <div class="card">
				<div class="card-body">
					<div class="card">
						<div class="card-body" id="profile">
							<img class="mb-4" src="assets//images/pig.jpg" alt="" width="200" height="200"/>
							<div id="fighting-info" class="row">
								<div class="col" id="power-bar">
									<p align="left" class="chi-so"> Power: 110 </p>
									<p align="left" class="chi-so"> Mana: 135/150 </p>
								</div>
								<div class="col">
									<img src="assets/images/50431429_769303080099977_7613375624366784512_n.png" alt="" width="75" height="75"/>
								</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="row">
								<div class="btn btn-warning btn-block info-block"><p style="margin-top: 20px"> GOLD: 13 </p></div>
							</div>
						</div>
						<div class="col-sm">
							<div class="row">
								<button type="button" class="btn btn-block info-block" style="color: black; background-color: #ff6877">FIGHT</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="row">
								<button type="button" class="btn btn-block info-block shit-color">SCHOOL</button>
							</div>
						</div>
						<div class="col-sm">
							<div class="row">
								<button type="button" class="btn btn-block info-block shit-color">GYM</button>
							</div>
						</div>
					</div>
					<div class="row">
						<button type="button" class="btn btn-block info-block shit-color">SHOP</button>
					</div>
				</div>
		  </div>
	  </div>
	 </div>
    


	    <div class="col-9 column-color">
			  <div class="card">
					<div class="card-header">
						Battle Logs
					</div>	
					
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Cras justo odio</li>
						<li class="list-group-item">Dapibus ac facilisis in</li>
						<li class="list-group-item">Vestibulum at eros</li>
						<li class="list-group-item">Vestibulum at eros</li>
						<li class="list-group-item">Vestibulum at eros</li>
						<li class="list-group-item">Vestibulum at eros</li>
					</ul>
			  </div>
	    </div>
  </div>
</div>


















<!--


<a href="/logout" class="btn btn-primary">Log out</a>

<p> Power: {{add user.inherent_power user.bonus_power}} </p>
<p> Stamina: {{user.stamina}}/150 </p>
<p> Stamina Regen: {{user.stamina_regen}} </p>
<p> Gold: {{user.gold}} </p>
<p> Ultimate power: {{user.empowered}} </p>

<form action="/fight" method="post">
  <button type="submit" class="btn btn-primary">Fight!</button>
</form>
-->