<div class="container">
  <div id="battle-log" class="row text-center">
    <div class="col-3 column-color">
		  <div class="card">
				<div class="card-body">
					<div class="card">
						<div class="card-body" id="profile">
							<img class="mb-4" src="assets//images/pig.jpg" alt="" width="200" height="200"/>
							<div id="fighting-info" class="row">
								<div class="col" id="power-bar">
									<p align="left" class="chi-so"> Power: {{add user.inherent_power user.bonus_power}} </p>
									<p align="left" class="chi-so"> Mana: {{user.stamina}}/150 </p>
								</div>
								<div class="col">
									{{#if user.empowered}}
										<img src="assets/images/50431429_769303080099977_7613375624366784512_n.png" alt="" width="75" height="75"/>
									{{else}}
										<img src="assets/images/52378378_325605244969602_8945436731671314432_n.jpg" alt="" width="75" height="75"/>
									{{/if}}
								</div>							
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="row">
								<div class="btn btn-warning btn-block info-block"><p style="margin-top: 20px"> GOLD: {{user.gold}} </p></div>
							</div>
						</div>
						<div class="col-sm">
							<div class="row">
								<form action="/fight" method="post" style="width: 100%">
									<button type="submit" class="btn btn-block info-block" style="width: 91%; color: black; background-color: #ff6877">FIGHT</button>
								</form>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="row">
								<a href="/gpa-image" style="width: 91%"> <button type="button" class="btn btn-block info-block shit-color">SCHOOL</button> </a>
							</div>
						</div>
						<div class="col-sm">
							<div class="row">
								<a href="/gpa-image" style="width: 91%"> <button type="button" class="btn btn-block info-block shit-color">GYM</button> </a>
							</div>
						</div>
					</div>
					<div class="row">
						<a href="/shop" style="width: 95%">  <button type="button" class="btn btn-block info-block shit-color">SHOP</button> </a>
					</div>
				</div>
		  </div>
	  </div>
	 </div>
    


	    <div class="col-9 column-color">
			  <div class="card">
					<div class="card-header">
						Battle Logs
					</div>	
					
					<ul class="list-group list-group-flush">
						{{#each fights}}
							<li class="list-group-item"> 
								<div class="journal-entry row">
									<div class="col-2">
										{{#if (equal this.opponent "Archer")}}
											<img src="assets/images/archer.jpg" alt="" width="75" height="75" />
										{{else if (equal this.opponent "Scout")}}
											<img src="assets/images/scout.png" alt="" width="75" height="75" />
										{{else if (equal this.opponent "Knight")}}
											<img src="assets/images/warrior.jpg" alt="" width="75" height="75" />
										{{else}}
											<img src="assets/images/warmonger.png" alt="" width="75" height="75" />
										{{/if}}
									</div>
									<div class="col">
										<p style="text-align: left"> {{render_text this.opponent this.result}} <p>
										{{#if this.result}}
											{{#if this.gold_drop}}
												<p style="text-align: left; color: red"> You claim the bounty from your victory, gaining {{this.gold_drop}} gold! </p>
											{{else}}
												<p style="text-align: left; color: red"> After your glorious victory, you found out that your enemy didn't bring their wallet. You gained nothing! </p>
											{{/if}}
										{{/if}}
									</div>									
								</div>
							</li>
						{{/each}}
					</ul>
			  </div>
	    </div>

  	<a href="/logout"> <button class="btn btn-primary"> Log out </button> </a>
  </div>

</div>


















<!--


<a href="/logout" class="btn btn-primary">Log out</a>

<p> Power: {{add user.inherent_power user.bonus_power}} </p>
<p> Stamina: {{user.stamina}}/150 </p>
<p> Stamina Regen: {{user.stamina_regen}} </p>
<p> Gold: {{user.gold}} </p>
<p> Ultimate power: {{user.empowered}} </p>

<form action="/fight" method="post">
  <button type="submit" class="btn btn-primary">Fight!</button>
</form>
-->