<p> You are currently logged in as {{user.username}} </p>
<a href="/logout" class="btn btn-primary">Log out</a>
{{#if error}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{{error}}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
{{/if}}

<p> Power: {{add user.inherent_power user.bonus_power}} </p>
<p> Stamina: {{user.stamina}}/150 </p>
<p> Stamina Regen: {{user.stamina_regen}} </p>
<p> Gold: {{user.gold}} </p>
<p> Ultimate power: {{user.empowered}} </p>

<form action="/fight" method="post">
  <button type="submit" class="btn btn-primary">Fight!</button>
</form>